@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Lora:ital,wght@0,400;0,600;1,400;1,500&family=Playfair+Display&display=swap');


*{
    margin:0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(27, 26, 25);
    color: rgb(241, 234, 234);
}
.titulo-destaque{

    color: rgb(233, 233, 6);
}
.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
     justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family:'Hedvig Letters Serif', serif; ;
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    display: flex;
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link{
    background-color: bisque;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 20px;
    padding: 21.5px 0;
    text-decoration: none;
    color: black;
    font-family: 'Lora', serif;
}