@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Lora:ital,wght@0,400;0,600;1,400;1,500&family=Playfair+Display&display=swap');

:root{

  --cor-princinpal: #000000;
  --cor-segundaria: #f6f6f6;
  --cor-terciaria:  #f8f410;
  

}
*{
    margin:0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-princinpal);
    color: var(--cor-segundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;

}

.cabecalho__menu {

    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{

    font-family:'Hedvig Letters Serif', serif;
    font-size: 24px;
     font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}


.titulo-destaque{

    color: var(--cor-terciaria) ;
}
.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
     justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family:'Hedvig Letters Serif', serif; ;
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    display: flex;
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
}


.subititulo__link{
    font-family: 'Lora', serif;
    font-size: 24px;


}


.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__link{
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 5px solid #22d4fd;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Lora', serif;
}
.apresentacao__links__link:hover{

background-color: #000000;
}
.rodape{
     padding: 24px;
    color: var(--cor-princinpal);
    background-color:var(--cor-terciaria);
    text-align: center;
    font-family: 'Lora', serif;
}